<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="autohotkey" />
  <package id="autohotkey.install" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolateygui" />
  <package id="docker-desktop" />
  <package id="DotNet4.5.2" />
  <package id="dotnetfx" />
  <package id="git" />
  <package id="git.install" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="googlechrome" />
  <package id="docker-desktop" />
  <package id="qttabbar" />
  <package id="sudo" />
</packages>